.num-range-inputs__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;

    input {
        max-width: calc((100% - 5px) / 2);
    }

    .separation-line {
        width: 15px;
        height: 1.5px;
        background-color: #ccc;
    }
}