.sorting-container {
    width: 100%;
    max-width: 695px;
    height: 81px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 10px 15px;
    margin: auto;

    .select-and-input-container {
        position: relative;
    }

    .sorting-query-input {
        height: 100%;
        background: white;
        border: 1px solid #ccc;
        padding-left: 26px;
        min-width: 170px;
        margin-right: 10px;
        padding: 5px;
        font-size: 14px;
        padding: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}