.advanced-features-container {
    .divider-line {
        background-color: #ccc;
        margin: 20px 0;
    }

    section {
        padding: 0 20px;
    }

    .properties-wrapper {
        display: flex;
        flex-wrap: wrap;
        >* {
            // width: 25%;
            width: max(90px, 20%);
            // padding: 0 7px;
            // max-width: 50%;
            // min-width: 20%;
            // margin: 0 5px;
        }
    }
    
    .properties-headline {
        margin-top: 30px;
    }

    label {
        margin: 10px 0 5px 0;
    }

    .num-range-inputs__container {
        margin: 5px 0 10px 0;
    }

    .double-select__container {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 5px 0 10px;
        min-height: auto;

        input {
            max-width: 170px;
        }

        .divider-line {
            width: 15px;
            height: 1.5px;
            background-color: #ccc;
            margin: auto 5px;
        }
    }

    .free-search-input {
        margin-top: 5px;
        display: block;
        width: 100%;
    }
}