.publish-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    >button {
        border: 1px solid;
        margin: 0 5% 0 0;
        text-align: center;
        height: 35px;
        width: 90px;
        border-radius: 17.5px;

        &:hover {
            background: #ff7100;
            color: #fff !important;
        }
    }

    >button:first-child {
        border-color: #e6e6e6;
    }
    >button:last-child {
        border-color: #ff7100;
        color: #ff7100;
        font-weight: 600;

    }
}